/_pycache_

/matlab/fslnets
/matlab/MSMall_data_all.mat
/matlab/parcor.mat
/matlab/fullcor.mat

data/all_edges.npy
data/data_10.pkl
data/data_2.pkl
data/edges_zero_to_one
data/edges_zero_to_one.txt
data/fullcor.mat
data/fullcor_3d_array_file.npy
data/fullcor_array_file.npy
data/ids_array_file.npy
data/labels_10_array_file.npy
data/labels_2_array_file.npy
data/MSMall_data_all.mat
data/node_features.npy
data/non_zero_edges_list
data/non_zero_edges_list.txt
data/normalized_edges.npy
data/parcor.mat
data/parcor_3d_array_file.npy
data/parcor_array_file.npy
data/positions_array_file.npy
data/time_series_array_file.npy

results.xlsx

/GraphKAN

/log

/gnn_model





